fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic[email]
email-validator
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
python-multipart==0.0.9
alembic==1.13.1
psycopg[binary]
pg8000
openai-whisper
ffmpeg
bcrypt==3.2.2
transformers
torch
vaderSentiment 
spacy
test_llm.py 
test_nlp.py 